<!DOCTYPE html>
<html lang="zh">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--响应式页面-->
        <title>{{ user.name }}的电影清单</title>
        <link rel="icon" href="{{ url_for('static', filename='yhy_logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        <h2>
            <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
            {{ user.name }}的电影清单
        </h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">主页</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}">设置</a></li>
                <li><a href="{{ url_for('logout') }}">登出</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">登录</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
        <footer>
            <small>&copy; 2020 CallMeBigYe</small>
        </footer>
    </body>
</html>