{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }}部电影</p>
<form method="POST">
    电影名称 <input type="text" name="title" autocomplete="off" required>
    上映年份 <input type="text" name="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="添加">
</form>
<ul class="movie-list">
    {% for movie in movies %}
    <li>
        {{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a href="{{ url_for('edit', movie_id=movie.id) }}" class="btn">编辑</a>
            <form class="inline-form" method="POST" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input type="submit" class="btn" name="delete" value="删除" onclick="return confirm('确定要删除吗？')">
            </form>
            <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="在IMDb上查找这部电影">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock content %}